.app {
  width: 100%;
  height: 100vh;

  margin: 0 auto;

  background: #ccc;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  &-heading {
    font-size: 3em;
    margin: 0;
  }

  &-subheading {
    font-style: italic;
  }

}